body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: orange;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.linija {
  width: 100px;
  border: none;
  border-top: 3px solid orange;
  margin: 1rem auto;
}

p {
  font-size: 2rem;
}
